body {
    margin: 0;
    font-family: sans-serif;

    .friend-div {
        padding: 4px;
        display: block;
        background-color: grey;
        height: 70px;
        width: 400px;
        margin: 29px;
        align-items: center;
        display: flex;
        justify-content: space-between;
        /* vertically align items to center */
    }

    .friend-pfp-name-info-div {
        width: 150px;
        height: 70px;
        display: flex;
        vertical-align: middle;
        align-items: center;
        /* justify-content: center; */
        /* justify content horizontally */
    }

    .text-container {
        /* overflow: ; */
        padding: 12px;
    }
}