<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoyeee 10c</title>
</head>

<style>
    div {
        display: block;
    }

    .youtube-video-div {
        padding: 10px;
        height: 180px;
        width: 350px;
        background-color: aqua;
        align-items: start;
        display: flex;
        /* vertical-align: top; */
    }

    .youtube-video-div-master {
        display: flex;
    }
</style>

<body>


    <div class="youtube-video-div-master">
        <div class="youtube-video-div">
            <!-- this is the thumbnail -->
            <img src="sanemi.jpg" style="height: 180px; width: 150px; border-radius: 3px;">
            <!-- this is the thumbnail-title -->
            <p style="display: inline-block; margin-left: 12px; font-weight: bold;">Buying a new island for 1000k$</p>
            <p style="display: inline-block; margin-left: 12px; ">asdajosdajsdiouashdohasid$</p>

        </div>
    </div>


</body>

</html>