<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>10b</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<style>
    
</style>

<body>
    <div class="friend-div">
        <div class="friend-pfp-name-info-div">
            <img src="{{ url_for('static', filename='sanemi.jpg') }}" alt=""
                style="height: 55px; border-radius: 5rem;  margin-left: 12px; ">
            <div class="text-container">
                <div style="margin-left: 7px; font-style: italic; font-size: 12px;">Sanemi</div>
                <div style="  margin-left: 7px; font-size: 10px; text-overflow: ellipsis;">The Wind hashira</div>
            </div>
        </div>
        <form action="" onsubmit="
                console.log(
                    'This is also  aaworking');">
            <div style="margin-right: 20px;"> <button type="submit">Follow</button>
        </form>
    </div>
    </div>
    <div class="friend-div" style="background-color: orange"></div>
    <div class="friend-div"></div>
    <div style="margin: 10px;"> {{ data["status"] }}</div>
</body>

<script>

    console.log("This is working");

</script>

</html>